* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
  }
  
  button:focus {
    outline: none;
  }
  
  .ql-editor p,
  .ql-editor.ql-blank::before {
    font-size: 1.3em;
    font-weight: 100;
  }
  
  .pane {
    overflow-y: auto;
  }
  
  .sidebar {
    width: 20%;
    height: 100vh;
  }
  
  .sidebar--header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    color: #7b3d53;
  }
  
  .sidebar--header > h3 {
    font-size: 1.75rem;
    margin-right: 50px;
    margin-top: 10px;
  }
  
  .new-note {
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border: 4px solid #cea3bf;
    box-shadow: 0 0 1px 6px #fbffff;
    border-radius: 20px;
    background-color: #99fff1;
    color: #7b3d53;
    transition: background-color 0.3s ease;
    width: 50px;
    font-family: 'Alkatra', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    transform: scale(0.85);
    font-weight: bold
  }
  
  .editor {
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    height: 100vh;
  }
  
  .title {
    overflow: hidden;
    width: 95%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fee7f9;
    border: 4px solid #cea3bf;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 8px;
  }
  
  .title--delete {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .title:hover .title--delete {
    display: block;
  }
  
  .note-summary:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
  }
  
  .text-snippet {
    padding-inline: 5px;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: #7b3d53;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    font-weight: bold;
  }

  .subject-snippet {
    font-size: 0.8rem;
    color: #7b3d53;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .selected-note {
    background-color: #d1f8ff;
    border: 4px solid #cea3bf;
    margin-left: 10px;
    width: 95%;
    border-radius: 5px;
  }
  
  .selected-note .text-snippet {
    color: #7b3d53;
  }
  
  .gutter {
    background-color: #ffffff00;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-left: -3px;
  }
  
  .gutter.gutter-horizontal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  }
  
  .gutter.gutter-horizontal:hover {
    cursor: col-resize;
  }
  
  .split {
    display: flex;
  }


  .delete-btn {
    display: none;
    background: none;
    border: none;
    margin-right: 20px;
  }
  
  .title:hover > .delete-btn {
    display: block;
  }
  
  .trash-icon {
    cursor: pointer;
  }
  
  .gg-trash {
    color: #404040;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
  }
  
  .gg-trash::after,
  .gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
  }
  
  .gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px;
  }
  
  .gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px;
  }

  .save-btn {
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border: 4px solid #cea3bf;
    box-shadow: 0 0 1px 6px #fbffff;
    border-radius: 20px;
    background-color: #99fff1;
    color: #7b3d53;
    transition: background-color 0.3s ease;
    width: 90px;
    font-family: 'Alkatra', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    transform: scale(0.85)
  }

  .save-btn:hover {
    background-color: #fee7f9;
  }

  .pane.editor input[type="text"] {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 20px;
  }
  
  .pane.editor input[type="text"]:focus {
    outline: none;
    border-color: #9f9fa0;
  }

  .search-notes input[type="text"] {
    width: 60%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
  }

  .search-notes input[type="text"]:focus {
    outline: none;
    border-color: #9f9fa0;
  }

  .subject-filter input[type="text"] {
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.subject-filter input[type="text"]:focus {
    outline: none;
    border-color: #9f9fa0;
}

.filter-btn {
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border: 4px solid #cea3bf;
  box-shadow: 0 0 1px 6px #fbffff;
  border-radius: 20px;
  background-color: #99fff1;
  color: #7b3d53;
  transition: background-color 0.3s ease;
  width: 90px;
  font-family: 'Alkatra', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  transform: scale(0.85)
}

.filter-btn:hover {
  background-color: #fee7f9;
}
.timer-on-other-page {
  display: none;
}
