@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Caveat:wght@600;700&family=Varela+Round&display=swap');

.timerpage {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Play", sans-serif;
}

h2 {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 700;
  color: #7b3d53;
  font-family: 'Alkatra', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Varela Round', sans-serif;
}

.timerpage-container {
  background-color: #fee7f9;
  padding: 5px 100px;
  border-radius: 15px;
  border: 5px solid #cea3bf;
  box-shadow: 0 0 1px 12px #fbffff;
  margin-top: 10vh;
}
