@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Caveat:wght@600;700&family=Varela+Round&display=swap');

*{
  box-sizing: border-box;
}

.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  border-radius: 20px;
  width: 600px;
  margin-bottom: 30px;
  font-family: 'Alkatra', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Varela Round', sans-serif;
}

.timer {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: #7b3d53;
}

.dropdowns {
  display: flex;
  gap: 40px;
  margin-top: 10px;
  margin-bottom: 28px;
  max-width: 80%;
}

select {
  padding: 2px 0px 2px 10px;
  font-size: 20px;
  border-radius: 20px;
  font-family: 'Alkatra', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Varela Round', sans-serif;  
  background-color: #d1f8ff;
  border: 4px solid #cea3bf;
  box-shadow: 0 0 1px 6px #fbffff;
  color: #7b3d53;
  cursor: pointer;
}

select:hover,
select:focus {
  background-color: #fee7f9;
}

select::-webkit-scrollbar {
  width: 10px;
}

select::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #7b3d53;
}

select::-webkit-scrollbar-track {
  background-color: #cea3bf;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons, 
.play-buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.play-buttons button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1f8ff;
  border: 4px solid #cea3bf;
  box-shadow: 0 0 1px 6px #fbffff;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  cursor: pointer;
  border: 4px solid #cea3bf;
  box-shadow: 0 0 1px 6px #fbffff;
  border-radius: 20px;
  background-color: #d1f8ff;
  color: #7b3d53;
  transition: background-color 0.3s ease;
  width: 100px;
  font-family: 'Alkatra', cursive;
  font-family: 'Caveat', cursive;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}

.buttons button:hover {
  background-color: #fee7f9;
}

.play-buttons button:hover {
  background-color: #fee7f9;
}

.message {
  margin:0; 
  font-size: 50px;
  color: #7b3d53;
}
